node_modules/
sources/images/
sources/css/
.screenrc
.vscode/
._*
dist/
css/
js/
config.js

### OSX ###
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.DS_Store

# Folder config file
Desktop.ini
