#accueil {
  background-image: url('../img/cover.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  text-align: center;
  color: white;
  position: relative;
  .background-cover;

  .wrapper {
    padding-bottom: 50px; 
    min-height: 100vh;
    .black-gradient;

    .container {
      padding-top: 200px;
      @media(max-width: 767px) {
        padding-top: 100px;
      }

      img {
        opacity: 0.95;
        width: 50vw;
        height: 50vw;
        max-height: 300px;
        max-width: 300px;
      }
    }
  }

  .intro-text {
    padding: 100px 22% 40px 22%;

    .intro-heading {
      font-size: 1.1em;
      line-height: 40px;
      .body-font;
    }
  }

  a {
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50px;
    line-height: 90px;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    .glyphicon {
      font-size: 3em;
      -webkit-transition: opacity 0.1s;
      -moz-transition: opacity 0.1s;
      transition: opacity 0.1s;
    }
  }
}

@media(max-width:768px) {
  #accueil {

    .intro-text {
      padding: 100px 15px 25px 15px;
    
      .intro-heading {
        margin-bottom: 25px;
        .body-font;
      }
    }
  }
}
