@import "_variables.less";
@import "_mixins.less";
@import "map.less";
@import "navbar.less";
@import "header.less";
@import "about.less";
@import "screens.less";

// Global Components

// accordeon

.flex{
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
}

.no-margin {
  margin:0 !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.img-accord {
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  transition: all .3s ease-out;
}

.panel-group{
  margin-bottom:0 !important;
  height: 800px;
}

.content img {
  width: 100%;
  background-color: aqua;
  float: right !important;
}

.panel-body {
  padding-right:15%;
  padding-left:15%;
  padding-bottom:60px;
  line-height: 33px;
  font-size: 16px;
}
.panel {
  height: 33.33%;
}
.panel-heading1 {
  padding-top:10%;
  padding-bottom: 10%;
}

.bs-example{
  margin: 0px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  border-color: white;
  border-width: medium;
  background-color: Transparent;
  margin-right:20px;
}
body {
  overflow-x: hidden;
  .body-font;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a:hover,
a:focus,
a:active,
h1, h2, h3, h4, h5, h6 {
  .heading-font;
  font-weight: 700;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: @gray-lighter;
}

.bg-darkest-gray {
  background-color: @gray-darker;
}

// Restyled Primary Buttons

.btn-primary {
  .button-variant(white; @theme-primary; @theme-primary);
  .heading-font;
  font-weight: 700;
}

.btn-xl {
  .button-variant(white; @theme-primary; @theme-primary);
  .heading-font;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}



// Global Section Styles


section {
  height: calc(~"100vh - 70px");
}

// Services Section

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

// Team Section


.part-logo img {
  width: 100%;
  padding:20%;
}

.contact-logo img {
  width: 100%;
  padding:20%;
}

.contact-text {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  background-color: none;
  padding-top: 50%;
  padding-bottom: 50%;
}

.contact-text-var {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  background-color: none;
  padding-top: 30%;
  padding-bottom: 46%;
}

// Footer

footer {
  padding: 25px 0;
  text-align: center;
  span.copyright {
    line-height: 40px;
    .heading-font;
    text-transform: none;
  }
  ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    .heading-font;
    text-transform: none;
  }
}

// Social Buttons

ul.social-buttons {
  margin-bottom: 0;
  li {
    a {
      display: block;
      background-color: @gray-darker;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      font-size: 20px;
      line-height: 40px;
      color: white;
      outline: none;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      &:hover,
      &:focus,
      &:active {
        background-color: @theme-primary;
      }
    }
  }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

// Highlight Color Customization

::-moz-selection {
  text-shadow: none;
  background: @bs-red;
}

::selection {
  text-shadow: none;
  background: @bs-red;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  webkit-tap-highlight-color: @theme-primary;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit:cover;
  position:absolute;
}

.nopadding{
  padding:0 !important;
  margin: 0 !important;
}

.gradient {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #ff5c5c, #ff8847); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #ff5c5c, #ff8847); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #ff5c5c, #ff8847); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ff5c5c, #ff8847); /* Standard syntax */
  padding:10%;
  color:white;
}
.glyphicon {
  color: #fff;
  background-color: transparent;
  font-size: 50px !important;
}

#contacts {
  color:white;
  margin:0;
  padding:0;
}
