#map {
  min-height: 60vh;

  @media(max-width: @xs-max) {
    .full-section;
    
    &.small {
      min-height: 50vh;
    }
  }

  .leaflet-custom-control {
    a {
      padding-top: 3px;
      padding-right: 1px;
      .glyphicon {
        color: #000000;
        font-size: 22px !important;
        line-height: 22px;
      }
    }
  }

  .touch-notice {
    position: absolute;
    z-index: 1000;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    right: 10px;
    top: 10px;
    opacity: 0.5;

    span {
      margin-right: 5px;
      color: @bs-blue;
    }

    @media(min-width: @sm-min) {
      display: none;
    }
  }

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &:not(.active) {
      display: none;
    }

    &.active {
      animation: opacify-in 0.1s;

      #zone-sheet {
        animation-name: slide-up;
        animation-duration: 0.3s;
      }
    }

    #zone-sheet {
      background-color: white;
      padding: 50px;
      max-height: calc(~"100% - 100px");
      min-width: 400px;
      max-width: 50%;
      -webkit-transition: margin-top 0.3s;
      -moz-transition: margin-top 0.3s;
      transition: margin-top 0.3s;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      @media(max-width: @sm-max) {
        max-width: calc(~"100% - 100px");
      }

      header > span {
        color: @bs-pink;
        opacity: 0.5;
      }

      h2 {
        color: @bs-pink;
        margin-bottom: 50px;
        text-transform: capitalize;
      }

      p {
        flex: 1;
        overflow: auto;
      }
    }
  }
}

@keyframes slide-up {
  from { margin-top: 100%} 
  to { margin-top: 0}
}

@keyframes opacify-in {
  from { opacity: 0 }
  to { opacity: 1 }
}
