#map {
  .leaflet-custom-control {
    a {
      padding-top: 3px;
      padding-right: 1px;
      .glyphicon {
        color: #000000;
        font-size: 22px !important;
        line-height: 22px;
      }
    }
  }
}
