#partenaires {
  min-height: initial;
  padding: 75px 0;

  .container {
    div {

      .partner {
        @partner-height: 50px;

        display: flex;
        padding: @partner-height;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          max-width: 360px;
          object-fit: contain;
        }
      }
    }
  }
}