#ecrans {
  .bs-tabs {
    list-style: none;
    padding: 0;
    // text-align: right;
    .heading-font;
    font-weight: bold;
    li {
      font-size: 1.3em;
      display: inline-block;
      padding: 25px 0 10px 0;
      margin: 0 30px 15px 0;
      &.active {
        border-bottom: 2px solid @navlinks-def;
      }
      a {
        color: @navlinks-def;
        &:hover, &:focus, &:visited, &:active {
          text-decoration: none;
        }
      }
      &:not(.active) a:hover {
        color: @navlinks-active;
      }
    }
  }
  .screen-carousel {
    height: 750px;
    width: 475px;
    background: url(../img/tablet.png) no-repeat center center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wrapper {
      width: 349px;
      display: flex;
      justify-content: center;
      align-items: center;
      order: 2;
    }

    .prev-screen, .next-screen {
      
      .glyphicon {
        color: @navlinks-active;
        -webkit-transition: color 0.2s;
        -moz-transition: color 0.2s;
        transition: color 0.2s;
        font-size: 2em;

        &:hover {
          color: @navlinks-def;
        }
      }
    }

    .prev-screen {
      order: 1;
    }

    .next-screen {
      order: 3;
    }
  }

  #screens-carousel {
    position: relative;
    left: -1px;
    top: -3px;

    .carousel-indicators {
      li {
        border-color: @bs-blue;
      }
      .active {
        background-color: @bs-blue;
      }
    }
  }
}
