#ecrans {
  padding-bottom: 100px;

  .bs-tabs {
    list-style: none;
    padding: 20px 0;
    text-align: center;
    margin: 0;

    .heading-font;
    font-weight: bold;
    li {
      font-size: 1.3em;
      display: inline-block;
      padding: 10px 0;
      margin: 15px;
      &.active {
        border-bottom: 2px solid @navlinks-def;
      }
      a {
        color: @navlinks-def;
        &:hover, &:focus, &:visited, &:active {
          text-decoration: none;
        }
      }
      &:not(.active) a:hover {
        color: @navlinks-active;
      }
    }
  }
}

#screens-tab {
  & > .wrapper {
    .tab-wrapper;

    @media(max-width: 996px) {
      flex-direction: column;
    }

    @media(min-width: 768px) and (max-width: 996px) {
      flex-flow: wrap;
    }
  }

  .screen-carousel {
    justify-content: space-between;
    .tablet-bg;

    @media(max-width: 996px) {
      order: 1;
    }

    .wrapper {
      width: 349px;
      display: flex;
      justify-content: center;
      align-items: center;
      order: 2;
    }

    .prev-screen, .next-screen {
      
      .glyphicon {
        color: @navlinks-active;
        -webkit-transition: color 0.2s;
        -moz-transition: color 0.2s;
        transition: color 0.2s;
        font-size: 2em;

        &:hover {
          color: @navlinks-def;
        }
      }
    }

    .prev-screen {
      order: 1;
    }

    .next-screen {
      order: 3;
    }
  }

  .legend {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media(min-width: 768px) and (max-width: 996px) {
      min-width: 50%;
    }


    &.left {
      order: 1;

      @media(max-width: 996px) {
        order: 2;
      }
      @media(min-width: 768px) {
        padding-right: 25px;
      }
    }

    &.right {
      order: 3;

      @media(min-width: 768px) {
        padding-left: 25px;
      }
    }

    & > div {

      &.s1 > h2 {
        color: @bs-green;
      }

      &.s2 > h2 {
        color: @bs-yellow;
      }

      &.s3 > h2 {
        color: @bs-pink;
      }

      &.s4 > h2 {
        color: @bs-navy;
      }

      h2 {
        margin-bottom: 70px;
      }

      @media(min-width: 996px) {
        & > * {
          margin-bottom: 70px;

          &:last-child {
            margin: 0;
          }
        }
      }
    }

    .pins {
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;

      @media(max-width: 996px) {
        justify-content: space-around;
        margin: 15px 0;
      }
    }
  }
}

#video {
  .wrapper {
    .tab-wrapper;
  }

  .screencast {
    .tablet-bg;
    justify-content: center;

    iframe {
      position: relative;
      top: -3px;
      left: -1px;
    }
  }
}

#screens-carousel {
  position: relative;
  left: -1px;
  top: -3px;

  .carousel-indicators {
    li {
      border-color: @bs-blue;
    }
    .active {
      background-color: @bs-blue;
    }
  }
}

.tab-wrapper() {
  display: flex;
  justify-content: center;
}

.tablet-bg() {
  order: 2;
  height: 670px;
  background: url(../img/tablet.png) no-repeat center center;
  display: flex;
  align-items: center;
  padding: 0 30px;

  @media(max-width: 996px) {
    margin-bottom: 50px;
  }

  @media(min-width: 768px) {
    flex: 0 0 530px;
  }
}